.search-box {
  border: none !important;
  box-shadow: none !important;
  border-color: Transparent !important;
  outline: none !important;
  resize: none !important;
}
.status-form {
  height:34px !important;
  font-size:14px !important;
  line-height:1.428571429 !important;
  color: #555555 !important;
  background-color: #f3f3f3 !important;
  background-image:none !important;
}
.right-inner-addon {
  position: relative;
}
.right-inner-addon .icon {
  position: absolute;
  top: 3px;
  right: 8px;
  pointer-events: none;
}
